@font-face{
    font-family: Amarillo;
    src: url(../fonts/Amarillo.otf);
}

@font-face{
    font-family: England_S;
    src: url(../fonts/England_S.otf);
}

* {
    padding: 0;
    margin: 0;
}

body{
    background-color: #222;
}

a{
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;    
}

/*Navigation content*/
nav {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    height: 80px;
}

.logo {
    width: 250px;
}

.logo a {
    font-family: Amarillo;
    text-decoration: none;
    font-size: 15px;
}

.logo span {
    font-family: England_S;
    font-size: 60px;
    color:mediumaquamarine;
}

nav ul{
    padding: 20px;
    margin: auto 0;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    padding: 20px;
    font-size: 14px;
}

nav ul li a:hover{
    color: magenta;
    transition: all 0.5s ease-in-out;
}

/*Page Cover Section*/

.cover{
    background-image: url(../images/image_cover.jpg);
    background-size: cover;
    background-position: center;
    padding: 200px 250px;
    height: 700px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.cover > div{
    width: 600px;
}

.market{
    color: #111;
}

.cover_header{
    color: #fff;
}

.cover_header h1{
    margin: 20px 0px;
    font-size: 35px;
}

.cover_header span{
    color: #ff2bb5;
}

.cover_header p{
    font-size: 14px;
    width: 350px;
}

.button_header{
    margin: 40px 0;
}

.button_header a{
    display: inline-block;
    padding: 10px;
    width: 120px;
    background-color: #ff2bb5;
    text-align: center;
}

.button_header a:hover, .col_3 a:hover{
    background-color: darkmagenta;
    transition: all 0.5s ease-in-out;
}


/*About Us*/

.about{
    display: flex;
    margin: 0 auto;
    height: 700px;
    width: 1000px;
    align-items: center;
}

.col_1 {
    width: 25%;
    margin: 10px;
}

.col_1 img{
    width: 100%;
    height: 580px;
    object-fit: cover;
}

.col_2 {
    width: 25%;
}

.col_2 img:nth-child(1){
    width: 100%;
    height: 280px;
    object-fit: cover;
    margin: 10px 10px 5px 0;
}

.col_2 img:nth-child(2){
    width: 100%;
    height: 280px;
    object-fit: cover;
    margin: 0 10px 10px 0;
}

.col_3 {
    width: 50%;
    padding: 50px 30px;
    color: #fff;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.col_3 h1 {
    font-size: 30px;
    margin: 20px 0;
}

.col_3 span{
    font-family: Amarillo;
    color: mediumaquamarine;
}

.col_3 p{
    margin: 30px 0px;
    font-size: 14px;
    text-align: justify;
}

.col_3 a{
    display: inline-block;
    margin-top: 20px;
    background-color: #ff2bb5;
    padding: 10px 20px;
}

/*Title Break Section*/

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    font-family: Arial, Helvetica, sans-serif;
}

.title img {
    width: 25px;
}

.title h1{
    color: #ff2bb5;
    text-align: center;
    font-size: 15px;
    width: 120px;
}

.title h2{
    color: #fff;
    margin: 20px 0;
}


/*Services Content*/
.services{
    display: flex;
    width: 900px;
    height: 450px;
    margin: 0 auto;
    align-items: flex-start;
}

.services > div {
    font-family: Arial, Helvetica, sans-serif;
    height: 320px;
    color: #fff;
    margin: 10px;
}

.card{
    display: flex;
    flex-direction: column;
    padding: 40px;
    align-items: center;
    background-color: #333;
}

.card h2{
    margin: 10px 0px;
    color: #ff2bb5;
    text-align: center;
}

.card img {
    margin: 10px 0;
    width: 40px;
}

.card p{
    text-align: center;
}


/*Break Content*/
.break{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 20%;
    height: 300px;
    background-image: url(../images/photo-of-people-sitting-near-wooden-table-3182796.jpg);
    background-size: cover;
    background-position: center;
}

.filter_break{
    position: absolute;
    width: 100%;
    height: 360px;
    background-color: #ff2bb5;
    opacity: 50%;
}

.break_content{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    z-index: 1;
}

.break_content h2{
    text-align: center;
    font-size: 30px;
}

.break_content p{
    text-align: center;
    font-size: 16px;
    margin: 20px 0px;
}

.break_content a{
    display: block;
    width: 200px;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px;
    text-align: center;
    color: #ff2bb5;
}

/* Profile Section*/

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    font-family: Arial, Helvetica, sans-serif;
}

.instructor{
    position: relative;
    margin: 30px;
}

.instructor img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

.instructor h3{
    font-family: Amarillo;
    color: #ff2bb5;
    width: 300px;
    text-align: center;
    margin: 20px 0;
}

.instructor h4{
    top: 0;
    position: absolute;
    width: 300px;
    height: 300px;
    text-align: center;
    line-height: 300px;
    transform: scale(0,0);
    font-size: 20px;
}

.instructor .filter{
    top:0;
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #333;
    opacity: 50%;
    transform: scale(0,0);
}

.instructor img:hover ~ .filter,
.instructor img:hover ~ h4{
    transform: scale(1,1);
    transition: all 0.5s ease-in-out;
}

/*Contact Form Content*/
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 530px;
    width: 900px;
    margin: 30px auto;
    background-color: #333;
}

.icon img{
    width: 40px;
    margin-top: 20px;
}

.contact form{
    width: 710px;
    margin: 30px 0;
}

.contact h2{
    color: #ff2bb5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.contact form input{
    width: 300px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
    border: none;
    background-color: #ff2bb550;
    color: #fff;
}

.contact form select{
    width: 320px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
    border: none;
    background-color: #ff2bb550;
    color: #fff;
}

.contact form textarea{
    width: 645px;
    height: 150px;
    resize: none;
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
    border: none;
    background-color: #ff2bb550;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

::placeholder{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.contact button{
    background-color: #ff2bb5;
    border: none;
    width: 100px;
    color: #fff;
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
}


/*Footer Section*/
.footer{
    display: flex;
    height: 300px;
    background-color: #11111150;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.footer > div{
    width: 250px;
    height: 200px;
    padding: 20px;
}

.f_section a > img{
    margin-right: 10px;
    width: 30px;
    opacity: 50%;
}

.f_section a > img:hover{
    opacity: 100%;
    transition: all 0.5s ease-in-out;
}

.f_section h3{
    font-size: 25px;
    color: mediumaquamarine;
    margin: 20px 0;
    text-align: center;
}

.f_section h3 + p{
    font-family: Amarillo;
    font-size: 10px;
    text-align: center;
    margin-bottom: 30px;
}

.email_news{
    display: flex;
    align-items: center;
}

.f_section input{
    padding: 10px;
    background-color: #444;
    border: none;
    width: 220px;
    color: #fff;
}

.email_news button{
    width: 50px;
    height: 35px;
    background-color: darkcyan;
    border: none;
    opacity: 75%;
}

.email_news img{
    padding: 3px 0px;
    width: 25px;
}

.email_news button:hover{
    opacity: 100%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.info p{
    margin: 10px 0;
    font-size: 14px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
}

.gallery img{
    width: 32%;
    margin: 0.5%;
    height: 70px;
    object-fit: cover;
}

footer{
    border-top: 1px solid mediumaquamarine;
}

footer p{
    background-color: #11111150;
    height: 100px;
    text-align: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 100px;
    font-size: 16px;
}


@media screen and (max-width: 800px){
    nav{
        flex-direction: column;
        height: 390px;
        align-items: center;
        justify-content: flex-start;
    }
    
    .logo {
        text-align: center;
    }
    
    nav ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: #222;
    }
    
    nav ul li a{
        display: block;
    }
    
    /* Cover section*/
    .cover{
        width: 100%;
        margin: 0;
        padding: 300px 0px;
    }
    
    .cover_head{
        margin-left: 20px;
    }
    
    /* About section */
    .about{
        flex-wrap: wrap;
        height: auto;
        justify-content: center;
        width: 100%;
    }
    
    .col_1, .col_2{
        width: 49%;
        margin: 0.5%;
    }
    
    .col_3{
        width: 100%;
    }
    
    .title h2 {
       text-align: center;
    }
    
    /* Services*/
    .services{
        flex-direction: column;
        width: 100%;
        height: auto;
        padding-bottom: 30px;
        align-items: center;
    }
    
    .services > div{
        height: auto;
        width: 300px;
        padding: 10px;
    }
    
    .card p{
        font-size: 14px;
        margin-bottom: 20px;
    }
    
    /* Break Content*/
    .break{
        position: relative;
        width: 100%;
        height: auto;
        padding: 0;
    }
    
    .break_content{
        padding: 20px;
    }
    
    .break_content h2{
        height: 60px;
    }
    
    .break_content p{
        height: 150px;
    }
    
    .filter_break{
        width: 100%;
        height: 100%;
    }
    
    /* Profile content*/
    .profile{
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    
    /* Contact section*/
    .contact{
        width: 100%;
        height: auto;
        margin: 0;
    }
    
    .contact form{
        width: 90%;
        margin: 0;
    }
    
    .contact form input,
    .contact form select,
    .contact form textarea{
        width: 100%;
        box-sizing: border-box;
        margin: 10px 0px;
    }
    
    .contact button{
        margin: 10px;
    }
    
    /* Footer section*/
    
    .footer {
        flex-direction: column;
        height: auto;
        width: 100%;
    }
    
    .footer > div{
        width: 80%;
        margin: 10px;
        height: auto;
        padding: 10px;
    }
    
    .footer_icons{
        display: flex;
        justify-content: center;
    }
    
    .f_section h3 + p {
        text-align: center;
    }
    
    .email_news input {
        width: 90%;
    }
    
    .info p{
        text-align: center;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}

















































